.me-photo {
  height: 160px;
  width: 160px;
  border-radius: 100px;
  padding-top: 50px;
}

.frontend-photo {
  height: 100px;
  width: 100px;
  float:left;
  margin-right: 30px;
}



.hobbie {
  height: 100px;
  width: 100px;
  float:right;
  margin-left: 30px;

}

.linkedin {
  height: 30px;
  width: 30px;
}

.facebook {
  height: 30px;
  width: 30px;
}

.instagram {
  height: 30px;
  width: 30px;
}

.programmer {
  font-size: 2.5rem;
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.center {
  text-align: center;
}

.btn {
  background: #11cdd4;
  background-image: -webkit- linear-gradient(top, #11cdd4, #11999E);
  background-image: -moz- linear-gradient(top, #11cdd4, #11999E);
  background-image: -ms- linear-gradient(top, #11cdd4, #11999E);
  background-image: -o- linear-gradient(top, #11cdd4, #11999E);
  background-image: linear-gradient(to bottom, #11cdd4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color:#ffffff;
  font-size:20px;
  padding:10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.intro {
  width: 30%;
  margin:auto;
}

.contact-message {
  width: 40%;
  margin:40px auto 60px;

}

.copyright {
  color: #EAF6F6;
  font-size: 0.75em;
  padding:20px 0px;
}

.contact-me {
  padding-bottom: 80px;
}

.mountain01 {
  width: 620px;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

p {
  line-height: 2;
}

h1 {
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:  #11999E;
}

hr {
  border: dotted grey 6px;
  border-bottom: none;
  width: 4%;
  margin:100px auto;
}

a {
  margin: 10px 20px;
  text-decoration: none;
}

.top-container {
  background-color: #beebe9;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #f4f9f4;
  margin: 100px 0;
  margin-bottom: 0px;

}

.bottom-container {
background-color: #66BFBF;
padding: 50px 0 20px;

}

span {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 290px;
  bottom: 2440px;
  width: 210px;
  height: 210px;
}

.top-cloud {
  position: absolute;
  right: 220px;
  top: 50px;
  width: 210px;
  height: 210px;
}
